<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <style type="text/css">
        body{
            background-color: #eeeeee;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin-top: 70px">
            <h2 class="text-center">欢迎登录</h2>
            <form novalidate autocomplete="off" action="/login/" method="post">
              <div class="form-group">
                <label for="exampleInputEmail1">邮箱</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
                  <span class="help-block"></span>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pwd">
                  <span class="help-block"></span>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox"> 记住我
                </label>
              </div>
              <button type="submit" id="login-btn" class="btn btn-success btn-block">登录</button>
                <p style="color: red">{{ error_msg }}</p>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript">
    //找到登录按钮
    $('#login-btn').click(function (){
        var flag = true
        //1.找到登录框中的所有input框，判断值是否为空
        $('form input').each(function (){

            var value = $(this).val();
            if (value.length == 0){
                var errMsg = $(this).prev().text()+'不能为空';
                $(this).next().text(errMsg)
                $(this).parent().addClass('has-error');
                // 阻止表单提交
                flag = false
                return false
            }
        });
        return flag
        //2.为空就显示错误信息

    })

    $('form input').focus(function () {
        $(this).next().text('')
        $(this).parent().removeClass('has-error')
    })
</script>
</body>
</html>